:root {
    --light: #90f6d7;
    --green: #35bcbf;
    --gray: #41506b;
    --dark: #263849;
    --dark_blue: #222b48;
    --alert: #C11919;
    --blue: #4fd6cf;
}

body {
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    max-width: 1200px;
    padding: 20px;
}

.formulario {
    padding: 20px;
    background: var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input,textarea, select {
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: aliceblue;
    padding: 8px;
    border: none;
    background: none;
    border-bottom: 2px solid var(--green);
    caret-color: var(--green);
    accent-color: var(--green);
    transition: all 300ms ease;
}

input:focus,textarea:focus, select:focus {
    border-bottom: 2px solid var(--light);
}

select {
    text-align: center;
}

#inp_asignatura {
    display: none;
}

#inp_cuerpo {
    resize: none;
    min-width: 200px;
    min-height: 300px;
}