:root {
    --light: #90f6d7;
    --green: #35bcbf;
    --gray: #41506b;
    --dark: #263849;
    --dark_blue: #222b48;
    --alert: #C11919;
    --sombra_azul: #35bcbf30;
}

/* svg: xnix-circular-interface-icons */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    color: black;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.main {
    display: grid;
    grid-template-areas:
        "logo nav nav"
        "lat viewer viewer"
        "lat viewer viewer"
    ;
    width: 1200px;
    height: 800px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    gap: 20px;
}

.logo {
    grid-area: logo;
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: drop-shadow(0 0 5px var(--light));
}

.navbar {
    grid-area: nav;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lat_menu {
    grid-area: lat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &>ul,
    .user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        background: var(--gray);
        border-radius: 30px;
        box-shadow: 0 0 10px 1px #00000030;
    }

}

.options {
    list-style: none;
    gap: 8px;

    & button {
        height: 60px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        z-index: 4;
        overflow: hidden;

        & svg {
            position: relative;
            z-index: 6;
        }

        &::after {
            content: "";
            width: 70px;
            height: 70px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: var(--green);
            box-shadow: 0 0 10px 5px var(--sombra_azul);
            z-index: 5;
            transition: all 300ms ease;
            clip-path: circle(0);
        }

        &.selected {
            transition: all 300ms ease;
            &::after {
                clip-path: circle(100%);
            }
        }
    }
}

.user {
    & img {
        width: 60px;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

.upper_msg {
    height: 100%;
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background: var(--gray);
    box-shadow: 0 0 10px 1px #00000030;
    border-radius: 30px;
    padding: 15px 20px;

    & p {
        font-size: 24px;
    }
}

.chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--green);
    box-shadow: 0 0 10px 1px #00000030;
    border-radius: 30px;
    padding-inline: 20px;
    cursor: pointer;

    & span {
        font-size: 18px;
        font-weight: 600;
    }
}

.viewer {
    grid-area: viewer;
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, auto));
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
    height: 100%;

    &>div {
        background: var(--gray);
        box-shadow: 0 0 10px 1px #00000030;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 300ms ease;
        padding: 20px;
    }
}

.viewer.home {
    grid-template-areas:
        "cont1 cont1 cont1 cont1 cont2 cont2"
        "cont1 cont1 cont1 cont1 cont2 cont2"
        "cont1 cont1 cont1 cont1 cont2 cont2"
        "cont3 cont3 cont3 cont3 cont2 cont2"
    ;

    & .contenido1 {
        flex-direction: column;
        justify-content: flex-start;

        .quejas_container {
            flex: 1;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
        }

    }

    & .contenido4 {
        display: none;
    }
}

.viewer.quejas {
    grid-template-areas: 
        "cont1 cont1 cont1 cont1 cont1 cont2"
        "cont1 cont1 cont1 cont1 cont1 cont2"
        "cont1 cont1 cont1 cont1 cont1 cont2"
        "cont1 cont1 cont1 cont1 cont1 cont2"
    ;

    .contenido3, .contenido4 {
        display: none;
    }
}

.contenido1 {
    grid-area: cont1;
}

.contenido2 {
    grid-area: cont2;
}

.contenido3 {
    grid-area: cont3;
}

.contenido4 {
    grid-area: cont4;
}