:root {
    --light: #90f6d7;
    --green: #35bcbf;
    --gray: #41506b;
    --dark: #263849;
    --dark_blue: #222b48;
    --alert: #C11919;
    --sombra_azul: #35bcbf30;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}